.results__container {
  padding: 80px;
}

.results__container_item {
  width: 50%;
}

.results__container_item:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.results__container_slogan {
  font-size: 2.8rem;
  line-height: 116%;
  font-weight: var(--font-weight-bold);
  margin-bottom: 64px;
}

.results__container_result {
  opacity: .5;
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 8px;
}

.results__container_button {
  width: 100%;
  max-width: 296px;
}

@media only screen and (max-width: 768px) {
  .diagonal-split {
    background: linear-gradient(to right bottom, var(--white) 50%, var(--orange-5) 50%);
  }

  .results__container {
    flex-direction: column;
    padding: 80px 16px 24px 16px;
  }

  .results__container_item {
    width: unset;
  }

  .results__container_item:last-child {
    align-items: center;
    padding-bottom: 24px;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  .results__container_image {
    width: 80%;
  }

  .results__container_slogan {
    font-size: 2rem;
    line-height: 116%;
    font-weight: var(--font-weight-bold);
    margin: 0;
  }

  .results__container_result {
    opacity: .5;
    font-size: 1.125rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 8px;
    text-align: center;
  }

  .results__container_button {
    width: 100%;
    max-width: unset;
  }
}

@media only screen and (max-height: 480px) {
  .results__container_image {
    width: auto;
    max-height: 100px;
  }
}