.component-button {
  background-color: var(--orange-100);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  width: 100%;
  border: none;
  cursor: pointer;
  line-height: 116%;
  padding: 20px 24px;
  border-radius: 12px;
  font-size: 1rem;
}

.component-button:hover {
  background-color: var(--orange-80);
}

.component-button:active {
  background-color: var(--orange-120);
}

@media only screen and (max-width: 768px) {
  .component-button {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 0.875rem;
    width: 100%;
  }
}