:root {
  /* Orange */
  --orange-5: #FFF3EB;
  --orange-80: #FFAC70;
  --orange-100: #FF8B37;
  --orange-120: #E87928;

  /* Green */
  --green-5: #E6FAEA;
  --green-100: #47D867;

  /* Red */

  --red-5: #FDEEED;
  --red-100: #EC6259;

  /* Black */

  --black-5: #F5F5F7;
  --black-40: #D0D0D8;
  --black-100: #1C1C21;

  /* White */

  --white: #FFFFFF;

}