.component-option {
  position: relative;
  width: fit-content;
  padding-left: 17px;
  padding-right: 17px;
}

.component-option-content {
  position: absolute;
  display: flex;
  top: 45%;
  left: 50px;
  transform: translateY(-45%);
}

.component-option--ticker {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--orange-100);
  margin-right: 8px;
}

.component-option--stepText {
  font-size: 1rem;
  color: var(--black-100);
  line-height: 23px;
}

.component-option--stepText-active {
  color: var(--orange-100);
}

.component-option--stepText-inactive {
  color: var(--black-40);

}

.component-option-content-step {
  left: 50%;
  transform: translate(-50%, -45%);
}

@media only screen and (max-width: 768px) {
  .quiz-game-container-step>.component-option-content {
    left: 40px;
  }
}